<div class='row home-banner'>
	<h1 class='center-text' id='welcome-heading'>Welcome!<br></h1>
</div>

<div class='row landing-big'>
	<p class='welcome-paragraph center-text'>Finding good coffees to work from can be hard. When I moved to Philly it took me a while to find good spots to work from since all the online reviews websites only take into account the food quality and not wifi speed, number of outlets or the volume of the music. CoffeeCode* tries to fix this by providing infos on how fast the internet is, if the firewall blocks the connection to npm and similar stuff so that you can just focus on doing work.</p>
</div>

<div class='row landing-smaller'>
	<p class='welcome-paragraph center-text'>Finding good coffees to work from can be hard. When I moved to Philly it took me a while to find good spots to work from since all the online reviews websites only take into account the food quality and not wifi speed, number of outlets or the volume of the music. CoffeeCode* tries to fix this by providing infos on how fast the internet is, if the firewall blocks the connection to npm and similar stuff so that you can just focus on doing work.</p>
</div>